<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550873151113-s5mv2o7l7020dhmgvjpmdn5rvkdg8b77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550873151113-s5mv2o7l7020dhmgvjpmdn5rvkdg8b77</string>
	<key>API_KEY</key>
	<string>AIzaSyCbphJ1tFeeyo6718xV2sQ8G1Ye9PRkpLU</string>
	<key>GCM_SENDER_ID</key>
	<string>550873151113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stalker</string>
	<key>PROJECT_ID</key>
	<string>stalker-bb55d</string>
	<key>STORAGE_BUCKET</key>
	<string>stalker-bb55d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550873151113:ios:d3a63ab9066751f81b7858</string>
</dict>
</plist>